header {
    background-color:#6717CD;
}
body{
    background-color:black;
}
main{
    background-image: url(../images/1683391688451.png) ;
    background-size: cover;
    background-position: center center;
    background-color: black;
}
.pink_text{
    font-family: "arial";
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px #EC0DBB;
}

.green_text{
    font-family: "arial";
    font-style: normal;
    font-weight: 600;
    color: #05FE00;
    text-shadow: 4px 4px 4px black;
    ;
}

.purple_text{
    font-family: "arial";
    font-style: bold;
    font-weight: 600;
    color: white;
    text-shadow: 4px 4px 4px #6717CD;
    ;
}